@media screen and (max-width: 768px) {
    .container-img{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        grid-template-rows: 200px;

    }

    .clientes{
      @include centradocolumn;
      padding-top: 70px;
      padding-bottom: 100px;
      gap: 70px;
  
    }

    .nosotros{
      @include centradocolumn
      
    }

  }


  @media screen and (max-width: 480px) {
    .container-img{
        width: 90%;
        grid-template-columns: repeat(1, 1fr); 
        grid-gap: 50px;
        grid-template-rows: 150px; 
    }

    .clientes{
      padding-top: 70px;
      padding-bottom: 100px;
      gap: 70px;
  
    }

  }

 