.nosotros {
    display: flex;
    width: auto;
    background-image:url(../img/Nosotros2.png);
    background-color: $bgctransc ;
    @include backgroundsizerepeat;
}
.textonos{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 35%;
    padding-left: 5%;
}
.bordetexto{
    display: flex;    
    background-color: #e8d6c2a6;
    padding: 6%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 10%;
    text-indent: 3%;
    text-align: justify;
    line-height:160%;
    animation: fadeIn 2s;
}

.reparador{
    padding-top: 180%;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     
 }
.reparador:hover {
     filter:saturate(150%);
     transition: all .5s ease-in-out;
 }