 
    $ff-title: "Lato", sans-serif;
    $ff-text: "Mukta", arial;
    $colorcrema: #E8D6C2;
    $colorceleste: #BBDBE8;
    $bgctransc: #bbdbe875;
    $bgctransborder: #e8d6c2a6;
    $bgcclients: rgba(255, 228, 196, 0.473);
    $bgccontacto: #bbdbe88e;
